* {
    margin: 0;
    padding: 0;

    
}

body {
    background-color: rgb(255, 255, 255);}

.qr-img {
    max-width: 100%;
    margin-bottom: 22px;
    border-radius: 10px;

}
.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 247, 247);
    width: 260px;
    padding: 20px 15px 50px 15px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    border-radius: 17px;
    box-shadow: 5px 5px 50px 1px rgb(116, 116, 116);
    border: 1px solid rgb(197, 197, 197);

}

.card h3 {
    color: rgb(5, 48, 61);
    font-size: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

.card p {
    padding: 7px;
    margin-top: 15px;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(85, 85, 85);

}


@media (max-width: 600px) {
    .qr-img {
        max-width: 70%;
        margin-bottom: 22px;
        border-radius: 10px;
        margin: 0 auto;
    
    }
    .card {
        display: flex;
        flex-direction: column;
        background-color: rgb(253, 247, 247);
        width: 60%;
        margin: 0 auto;
        justify-content: center;
        margin-top: 10%;
        text-align: center;
        border-radius: 17px;
        box-shadow: 1px 1px 50px 1px rgb(116, 116, 116);
        }
    
    .card h3 {
        color: rgb(5, 48, 61);
        font-size: 1rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 20px;
    }
    
    .card p {
        padding: 7px;
        margin-top: 15px;
        font-size: 0.8rem;
        font-family: 'Ubuntu', sans-serif;
        color: rgb(85, 85, 85);
    
    }
    
    }
